header .button .icon {
   margin-top: 0px;
}

/*-------------------------
 * Extra Small Devices,
 * Phones
---------------------------*/
@media only screen and (max-width: 960px) {
  .header-title {
    padding: 0px 0px 0px 20px;
    margin: 0px;
  }
  .mobile-header-title {
    font-family: "Roboto Condensed", sans-serif;
    font-size: 20px;
    text-transform: uppercase;
    letter-spacing: 2px;
    font-weight: 600;
    padding: 0px 0px 0px 10px;
    margin: 0px 0px 0px 0px;
  }
  
  /*---------------------
   * TEXT
   * --------------------*/
  .article h1 {
     font-size: 30px;
     line-height: 42px;
     letter-spacing: 0px;
     font-weight: 300;
     margin: 0px 0px 20px 0px;
     word-wrap: break-word;
  }
  
  .article h2 {
     font-size: 20px;
     line-height: 26px;
     font-weight: 600;
     margin: 0px 0px 0px 0px;
     padding-top: 15px;
     padding-bottom: 13px;
     width: 100%;
  }
  
  .article p {
     font-family: "Roboto", sans-serif;
     font-size: 16px;
     line-height: 21px;
     font-weight: 400;
     margin: 0px 0px 15px 0px;
  }
  
  
  /*---------------------
   * HOMEPAGE TEXT
   * --------------------*/
  .home-section01 h1, .home-section01 h2, .home-section01 h3, 
  .home-section01 p {
     text-align: right;
  }
  
  .home-section01 h1 {
     font-size: 34px;
     line-height: 54px;
     letter-spacing: 0px;
     font-weight: 300;
     margin: 0px 0px 0px 0px;
     padding-top: 5px;
     word-wrap: break-word;
  }
  
  .home-section01 h2 {
     font-size: 20px;
     line-height: 26px;
     font-weight: 600;
     color: #666;
     margin: 0px 0px 0px 0px;
     padding-top: 15px;
     padding-bottom: 13px;
     width: 100%;
  }
  
  .home-section01 p {
     font-family: "Montserrat", sans-serif;
     font-size: 16px;
     line-height: 21px;
     font-weight: 300;
     margin: 0px 0px 0px 0px;
  }
	.overlay {
		/*
     * Expanded drawer
     */
	}
	#toggle-drawer:checked ~ .overlay,
	.toggle-drawer .overlay {
		width: 100%;
		height: 100%;
	}
	.drawer {
		-webkit-transform: translate3d(-262px, 0, 0);
		transform: translate3d(-262px, 0, 0);
		-webkit-transition: -webkit-transform 0.25s cubic-bezier(0.4, 0, 0.2, 1);
		transition: -webkit-transform 0.25s cubic-bezier(0.4, 0, 0.2, 1);
		transition: transform 0.25s cubic-bezier(0.4, 0, 0.2, 1);
		transition: transform 0.25s cubic-bezier(0.4, 0, 0.2, 1), -webkit-transform 0.25s cubic-bezier(0.4, 0, 0.2, 1);
		/*
     * Just hide drawer, if browser doesn't support 3D transforms
     */
	}
	.no-csstransforms3d .drawer {
		display: none;
	}
	.drawer {
		background: white;
	}
	.project {
		box-shadow: 0 1.5px 3px rgba(0, 0, 0, 0.24), 0 3px 8px rgba(0, 0, 0, 0.05);
		background: #546e7a;
		color: white;
	}
   .project .banner {
    display: none;
   }
	.drawer {
		position: fixed;
		z-index: 5;
		height: 100%;
	}
    .drawer .scrollable {
       top: 80px;
       margin-bottom: 63px;
       z-index: -1;
    }
	#toggle-search:checked ~ .main .results,
	.toggle-search .results {
		height: 100%;
	}
  .article {
     margin-left: 0px;
     padding: 0px 20px 0px 20px;
     /*background-color: green;*/
  }
  .article .wrapper {
     width: 100%;
     padding: 100px 0px 130px 0px;
  }
}

.header .button .icon {
	display: inline-block;
	font-size: 28px;
	padding: 10px 8px 8px 8px;
	margin: 0px 0px 0px 0px;
}


/* Custom, iPhone Retina */
@media only screen and (max-width : 767px) {
  /*
  .icon-back {
    margin-top: 10px !important;
  }
  */
  .header .stretch {
    padding: 11px 16px 0px 0px;
  }
  .header-title {
    padding: 0px 0px 0px 10px;
    margin: 0px;
    display: none;
  }
  
  .header .field {
    margin-top: 0px;
  }
	.bar.search .query {
		font-family: "Montserrat", sans-serif;
		font-size: 20px;
		padding: 2px 0px 0px 0px;
      height: 38px;
   }
    header .icon-back {
      margin: 7px 0px 0px 0px !important;
      vertical-align: middle !important;
    }

/*---------------------
 * HOMEPAGE TEXT
 * --------------------*/
  .home-section01 h1, .home-section01 h2, .home-section01 h3, 
  .home-section01 p {
     text-align: left !important;
  }
  
  .home-section01 h1 {
     font-size: 34px;
     line-height: 38px;
     letter-spacing: 0px;
     font-weight: 300;
     margin: 0px 0px 0px 0px;
     padding-top: 5px;
     word-wrap: break-word;
  }
  
  .home-section01 h2 {
     font-size: 20px;
     line-height: 26px;
     font-weight: 600;
     color: #666;
     margin: 0px 0px 0px 0px;
     padding-top: 15px;
     padding-bottom: 13px;
     width: 100%;
  }
  
  .home-section01 p {
     font-family: "Montserrat", sans-serif;
     font-size: 16px;
     line-height: 21px;
     font-weight: 300;
     margin: 0px 0px 0px 0px;
  }    
      
  .article {
    margin-left: 0px;
    padding: 0px 30px 0px 30px;
  }
  
  .home-section01 {
    width: 100%;
  }
  .download-button {
    float: left !important;
  }
  .divider {
    display: none;
  }
  .home-section02 {
    display: none;
  }
  
}


/*-------------------------
 * Small Devices,
 * Tablets
---------------------------*/
@media only screen and (min-width: 768px) {
    /*---------------------
     * HOMEPAGE TEXT
     * --------------------*/
    .home-section01 h1, .home-section01 h2, .home-section01 h3, 
    .home-section01 p {
       text-align: right;
    }
    
    .home-section01 h1 {
       font-size: 36px;
       line-height: 48px;
       letter-spacing: 0px;
       font-weight: 300;
       padding-top: 25px;
       margin: -15px 0px 0px 0px;
       word-wrap: break-word;
    }

    .home-section01 h2 {
       font-size: 19px;
       font-weight: 600;
       color: #666;
       padding-top: 29px;
       padding-bottom: 5px;
       width: 100%;
    }
    
    .home-section01 p {
       font-family: "Montserrat", sans-serif;
       font-size: 16px;
       line-height: 26px;
       font-weight: 300;
       margin-bottom: 0px;
    }
  
	.header {
      width: 100%;
		height: 64px;
		padding: 8px 20px 8px 20px;
		border-bottom: 2px solid #518961;
		background-color: #518961;
	}
	.header .stretch {
		padding: 0px 16px 0px 0px;
	}
	.header .stretch .title {
		font-size: 20px;
		padding: 12px 0px;
	}
    .mobile-header-title, .mobile-header-title-light {
      display: none !important;
    }
    header .icon-back {
      margin: 5px 0px 0px 20px !important;
      vertical-align: middle !important;
    }
	.project .name {
		margin: 26px 0 0 5px;
	}
   .project .banner {
    display: none;
   }
	.article .wrapper {
		padding: 155px 50px 200px 50px;
	}
	.article .data {
		margin: 1.5em -24px;
		/*
       * Data table
       */
	}
	.article .data table {
		margin: 0 24px;
	}
   .article {
      margin-left: 0px;
      padding: 0px 15px 0px 15px;
     /*background-color: yellow;*/
	}
	.ios.standalone .article h2 {
		padding-top: 28px;
		margin-top: 8px;
	}
	.ios.standalone .article h3,
	.ios.standalone .article h4 {
		padding-top: 20px;
		margin-top: 0;
	}
	.article pre {
		padding: 1.5em 24px;
		margin: 20px;
	}
	.footer {
		padding: 0 8px;
	}
	.pagination {
		height: 96px;
		padding: 0px 0px 10px 20px;
	}
	.pagination {
		/*
     * Increase vertical spacing
     */
		/*
     * Increase vertical spacing
     */
	}
	.pagination .direction {
		padding: 0 52px;
		bottom: 40px;
	}
	.pagination .stretch {
		padding: 0 8px;
	}
	.admonition {
		margin: 20px -24px 0;
		padding: 20px 24px;
	}
	.bar.search .query {
		font-family: "Montserrat", sans-serif;
		font-size: 20px;
		padding: 2px 0px 0px 0px;

	}
	.results .scrollable {
		top: 64px;
	}
	.results .meta strong {
		padding: 16px 24px;
	}
	.result {
		padding: 16px 24px 20px;
	}
   
   .logo-hidden {
    display: none;
   }
}


/*-------------------------
 * Medium Devices,
 * Desktops
---------------------------*/
@media only screen and (min-width: 960px) {
    .mobile-header-title, .mobile-header-title-light {
      display: none !important;
    }
/*---------------------
 * HOMEPAGE TEXT
 * --------------------*/
.home-section01 h1, .home-section01 h2, .home-section01 h3, 
.home-section01 p {
	text-align: right;
}

.home-section01 h1 {
	font-size: 38px;
	line-height: 54px;
	letter-spacing: 0px;
	font-weight: 300;
   margin-bottom: 15px;
   padding-top: 39px;
	word-wrap: break-word;
}

.home-section01 h2 {
	font-size: 19px;
	line-height: 26px;
	font-weight: 600;
	color: #666;
	padding-top: 5px;
   padding-bottom: 5px;
	width: 100%;
}

.home-section01 p {
	font-family: "Montserrat", sans-serif;
	font-size: 16px;
	line-height: 21px;
	font-weight: 300;
}
	.backdrop {
		background-color: #fff;
	}
	.backdrop-paper:after {
		/*box-shadow: 0 1.5px 3px rgba(0, 0, 0, 0.24), 0 3px 8px rgba(0, 0, 0, 0.05);*/
		background-color: #fff;
	}
	.button-menu {
		display: none;
	}
	.drawer {
		position: static;
		float: left;
		height: auto;
		margin-bottom: 96px;
		padding-top: 80px;
	}
	.drawer .scrollable {
		position: static;
	}
  .project .banner {
     display: table;
     width: 95%;
     height: auto;
     padding: 20px;
     margin: 0px;
     margin-left: 15px;
  }
	.article {
    margin-left: 252px;
     /*background-color: red;*/
	}
	.article .wrapper {
		padding: 135px 0px 200px 0px;
	}
	.footer {
		z-index: 5;
	}
	.copyright {
		margin-bottom: 64px;
	}
	.results {
		height: auto;
		top: 64px;
	}
	.results .scrollable {
		position: static;
		max-height: 413px;
	}
}


/*-------------------------
 * Large Devices,
 * Wide Screens
---------------------------*/
@media only screen and (min-width: 1200px) {
    .header {
       width: 100%;
       border-bottom: 2px solid #518961;
       background-color: #518961;
    }
    .mobile-header-title, .mobile-header-title-light {
      display: none !important;
    }
    .drawer .scrollable .wrapper hr {
       width: 48px;
    }
   
    /*---------------------
     * HOMEPAGE TEXT
     * --------------------*/
    .home-section01 h1, .home-section01 h2, .home-section01 h3, 
    .home-section01 p {
       text-align: right;
    }
    
    .home-section01 h1 {
       font-size: 43px;
       line-height: 54px;
       letter-spacing: 0px;
       font-weight: 300;
       margin-bottom: 15px;
       padding-top: 39px;
       word-wrap: break-word;
    }
    
    .home-section01 h2 {
       font-size: 20px;
       line-height: 26px;
       font-weight: 600;
       color: #666;
       padding-top: 10px;
       width: 100%;
    }
    
    .home-section01 p {
       font-family: "Montserrat", sans-serif;
       font-size: 16px;
       line-height: 21px;
       font-weight: 300;
    }
  .article {
     margin-left: 262px;
     /*background-color: blue;*/
  }
	.article .wrapper {
		padding: 135px 60px 180px 20px;
	}
}










